.main {  
  padding: 10px;
  margin: 0 auto;
  width: 540px;
  font: 18px "Courier New", monospace;
  font-weight: bold;
  border-radius: 10px;
  color: rgb(255, 253, 251)
}
.nav {
  padding: 0.2in;
}

.blog {
  margin: 10px 0;
  width: auto;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  background-color: #5a5e66f3;
  resize: vertical;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url(/static/big-black.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 120vh;
  position: relative;
}

.add_blog {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 16px;
}

h1 {
  text-align: center;
  font-family: Georgia;
  color: gray;
}

.error {
  color: red;
}

a {
  color: rgb(149, 199, 201);
  font-family: sans-serif;
}

textarea {
  margin: 10px 0;
  width: 540px;
  height: 130px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #e9ebf0be;
  resize: none;
  font-size: 16px;
}

input[type=text] {
  width: 530px;
  margin: 10px 0;
  padding: 5px;
  background-color: #f1f1f171;
  border: none;
  border-radius: 3px;
  color: antiquewhite;

}

input[type=submit] {
  background-color: rgb(94, 169, 179);
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}
