<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='style.css') }}">
  <!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css"> -->
</head>

<body>

  {% if 'email' in session %}
  <div class="nav1">
    <form action="/logout" method="POST">
      <input type="submit" value="Logout">
      <span>{{ session['email'] }}</span>
    </form>
  </div>
  <div class="nav">
    <a href="{{ url_for('blog') }}">Main Blog Page</a>
    |
    <a href="{{ url_for('newpost') }}">Add a Blog Entry</a>
  </div>
  {% endif %}

  <div class="main">
    {% with messages = get_flashed_messages() %}
    <ul>
      {% for message in messages %}
      <li class="error">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endwith %}

    {% block content%}{% endblock %}
  </div>

</body>

</html>